# Archivos auxiliares y temporales de LaTeX
*.aux
*.bbl
*.blg
*.brf
*.bcf
*.run.xml
*.def
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.idx
*.loa
*.lof
*.lot
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.synctex(busy)

# Archivos de ejecutable y descargas pesadas
tectonic.exe
*.zip
*.tar.gz

# Archivos del sistema
Thumbs.db
Desktop.ini
.DS_Store

# Opcional: Descomentar si NO deseas subir el PDF compilado a git
# main.pdf
